@media (max-width: 576px) {
nav ul li {
font-size: 14px;
}
.menu {
display: block;
width: 100%;
position: relative;
top: 0;
}
.galeria {
grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)); 
}
.portadas {
display: grid;
grid-template-columns: repeat(2, 1fr);
img {
height: 200px;
}
}
.tickets {
font-size: 14px;
padding-left: 50px;
padding-right: 50px;
}
}